:root {
  /* Couleurs principales */
  --bg-color-dark: #038850e3;
  --bg-color: #f0f3f5;
  --button-color: #d7dce6;
  --text-color: #333;
  --button-shadow: rgba(0, 0, 0, 0.1);
  --button-shadow-pressed: rgba(0, 0, 0, 0.2);
  --highlight-color: #ff9500;
  --highlight-shadow: rgba(255, 149, 0, 0.5);
  --shadow-color-light: rgba(255, 255, 255, 0.521);
  --shadow-color-dark: rgba(0, 0, 0, 0.1);

  /* Effets */
  --border-radius: 20px;
  --box-shadow: 10px 10px 20px var(--shadow-color-dark), -10px -10px 20px var(--shadow-color-light);
  --pressed-shadow: inset 5px 5px 10px var(--shadow-color-dark), inset -5px -5px 10px var(--shadow-color-light);
}

body {
  background-color: var(--bg-color-dark);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 10px;
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
  color: var(--text-color);
}

.main {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.screen input {
  width: calc(100% - 30px);
  padding: 15px;
  font-size: 2.5rem;
  text-align: right;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: inset 5px 5px 10px var(--button-shadow-pressed), inset -5px -5px 10px white;
  background: var(--button-color);
  color: var(--text-color);
  margin-bottom: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.key {
  padding: 20px;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: var(--box-shadow);
}

.key:hover {
  box-shadow: 5px 5px 15px var(--button-shadow), -5px -5px 15px white;
}

.key:active {
  box-shadow: var(--pressed-shadow);
  transform: scale(0.98);
}

.key.equal {
  background-color: var(--highlight-color);
  color: white;
  font-size: 2rem;
  padding: 17px;
  box-shadow: 5px 5px 15px var(--highlight-shadow), -5px -5px 15px rgba(255, 255, 255, 0.7);
}

.key.equal:hover {
  background-color: #e68a00;
}

.key.equal:active {
  box-shadow: inset 5px 5px 15px rgba(255, 149, 0, 0.7), inset -5px -5px 15px rgba(255, 255, 255, 0.5);
}

footer p {
  margin-top: 2rem;
  color: var(--text-color);
}
